//Esquema de colores
    //Primer esquema de color
    $white: #fff;
    $Snow: #fafafa;
    $Quicksilver: #a0a0a0;

    //Segundo esquema de color
    $JellyBean: #e56353;
    $Salmon: #e97f72;
    $Pastelpink: #f0a9a1;

    //Tercer esquema de color
    $Granitegray: #686963;
    $Taupegray: #91918d;
    $Gray: #babab8;

// Tipografia
    $raleway: 'Raleway', sans-serif;

// Peso de fuentes
    $light: 200;
    $regular: 400;
    $Bold: 700;

// Tamano fuentes
    $xx-large: 100px;
    $x-large: 70px;
    $large: 50px;
    $medium: 18px;

