.footer {
    text-align: center;
    background-color: $Granitegray;
}

.order {
    background-color: $JellyBean;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.logo-footer {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    padding-top: 3rem; 
    padding-bottom: 3rem;
}