h1 {
    font-family: $raleway;
    font-weight: $Bold;
    font-size: $xx-large;
}

h2 {
    font-family: $raleway;
    font-weight: $Bold;
    font-size: $x-large;
}

h3 {
    font-family: $raleway;
    font-weight: $regular;
    font-size: $large;
}

p {
    font-family: $raleway;
    font-weight: $light;
    font-size: $medium;
}
